# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/

# IDE
.vs/
*.csproj
*.sln
*.user
*.userprefs

# Unity Collab / Plastic
.plastic/
ignore.conf

# OS
.DS_Store
Thumbs.db